In [39]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from missingpy import KNNImputer

In [90]:
df=pd.read_csv('data.txt')

In [91]:
# 80% of counts are 

class columnTypeIdentification:
    def __init__(self, df):
        self.dtypes={}
        self.df=df
        for i in self.df.columns:
            self.dtypes[i]=(self.df[i].dtypes)
#         print(self.dtypes)
        self.colTypes={'Categorical': [], 'Text':[], 'Numeric': []}
        self.detectingColTypes()
        target_type=''
        
        for i in self.colTypes.keys():
            if y in self.colTypes[i]:
                target_type=i
                break
        self.target_type=target_type
    
    def detectingColTypes(self):
        for i in self.dtypes.keys():
            if self.dtypes[i]=='O':
                if (df[i].fillna('',axis=0).apply(lambda x: len(x))).quantile(q=0.95)<20:
                    self.colTypes['Categorical'].append(i)
                else:
                    self.colTypes['Text'].append(i)
            else: 
                distinctValues = self.df[i].nunique()
                if distinctValues < int((self.df[i].shape[0])*0.05):
                    self.colTypes['Categorical'].append(i)
                else:
                    self.colTypes['Numeric'].append(i)

In [92]:
class nullHandling():
  
    def __init__(self, df):
        self.dict_isnull = (df.isnull().sum() / len(df)).to_dict()
        self.df=df
        self.colTypes=colTypes.copy()
 
    
    def remove_columns(self):
        cols_remove=[]
        for key in self.dict_isnull:
            if(self.dict_isnull[key]>0.75):
                cols_remove.append(key)        
        if not cols_remove:
            return self.colTypes
        else:
            for i in cols_remove:
                for j in self.colTypes.keys():
                    if i in self.colTypes[j]:
                        self.colTypes[j].remove(i)
        if y in cols_remove:
            cols_remove.remove(y)
        
        self.df.drop(cols_remove,axis=1, inplace=True)
        
#         return self.colTypes
        
    
    def continuous_impute_zero(self):
        df_temp=self.df.copy()
        df_temp[self.colTypes['Numeric']]=df_temp[self.colTypes['Numeric']].fillna(0)
        return df_temp
    
    def continuous_impute_mean(self):
        df_temp=self.df.copy()
        imputer = SimpleImputer(strategy='mean')
        df_temp[self.colTypes['Numeric']] = imputer.fit_transform(df_temp[self.colTypes['Numeric']])
        return df_temp
    
    def continuous_impute_knn(self):
        df_temp=self.df.copy()
        imputer = KNNImputer(n_neighbors=5) 
        df_temp[self.colTypes['Numeric']] = imputer.fit_transform(df_temp[self.colTypes['Numeric']])
        return df_temp
    
        
    def impute(self,strategy,fill_value = 0, fill_categorical = '-1'):
        df_temp=self.df
        
        #Dealing wit Continuous cols
        if strategy is None:
            df_temp[self.colTypes['Numeric']]=df_temp[self.colTypes['Numeric']].fillna(fill_value)
        elif strategy == 'mean':
            self.continuous_impute_mean()
        elif strategy == 'knn':
            self.continuous_impute_knn()
            
        #dealing with categorical Cols_temp[self.colTypes['Categorical']]=df_temp[self.colTypes['Categorical']].fillna(fill_categorical)
        
        return df_temp

In [107]:
class FeatureReduction:

    def __init__(self,df):
        self.df=df
        
        
        self.colTypes=colTypes.copy()
        self.colTypes[target_type].remove(y)
        
        self.all_dfs=[]
        self.pearsons_corr()

    def pearsons_corr(self):
        self.colTypes['Numeric']=set(self.colTypes['Numeric']).intersection(set(self.df.columns))
        
        corr=self.df[self.colTypes['Numeric']].corr(method="pearson").abs()
        upper = corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
        to_drop = [column for column in upper.columns if any(upper[column] > 0.80)]
        self.df.drop(to_drop, axis=1,inplace=True)
        self.colTypes['Numeric'] = [x for x in self.colTypes['Numeric'] if x not in to_drop]
        self.all_dfs.append(self.df)

    def return_dfs(self):
        return self.all_dfs

In [112]:
colTypes[target_type]

['Recovered', 'Latitude', 'Longitude']

In [109]:
class outlierhandling():
    def __init__(self,df):
        self.df=df.copy() 
        self.colTypes=colTypes.copy()
        
        self.colTypes[target_type].remove(y)
        
        self.colTypes['Numeric']= set(colTypes['Numeric']).intersection(set(df.columns))
        
        self.all_dfs=[]
        self.capping_outlier() 
        self.remove_outlier()
        self.zscore_outlier()
      
    def capping_outlier(self,lowerperc = 0.01,higherperc = 0.99):
        df = self.df[self.colTypes['Numeric']].copy()
        df_out = self.df
        for col in df.columns:
            percentiles = df[col].quantile([lowerperc,higherperc]).values
            df[col][df[col] <= percentiles[0]] = percentiles[0]
            df[col][df[col] >= percentiles[1]] = percentiles[1]
            df_out[self.colTypes['Numeric']] = df
        self.all_dfs.append(self.df_out)
    
    def remove_outlier(self):
        df_out=self.df[self.colTypes['Numeric']].copy()
        df_in = self.df
        for col_name in df_out.columns:
            q1 = df_out[col_name].quantile(0.25)
            q3 = df_out[col_name].quantile(0.75)
            iqr = q3-q1
            lower = q1-1.5*iqr
            upper = q3+1.5*iqr
            df_out = df_out.loc[(df_out[col_name] > lower) & (df_out[col_name] < upper)]
            df_final = pd.concat([df_in,df_out],axis = 1,join='inner')           
        self.all_dfs.append(self.df_final)
    
    def zscore_outlier(self,threshold = 3):
        l = []
        df = self.df[self.colTypes['Numeric']].copy()
        df_out = pd.DataFrame()
        for i in df.columns:
            temp = []
            mean_1 = np.mean(df[i])
            std_1 =np.std(df[i])  
            for y in df[i]:
                z_score= (y - mean_1)/std_1 
                if np.abs(z_score) < threshold:
                    temp.append(y)
            df_temp = pd.DataFrame(temp)
            l.append(df_temp)
        df_out = pd.concat(l,axis = 1,join = 'inner')
        df_out.columns = df.columns
        self.all_dfs.append(self.df_final)
    
    
    
    def return_dfs(self):
        return self.all_dfs

In [117]:
y='Confirmed'
#Col Indentification
colIdentObj=columnTypeIdentification(df)
colTypes=colIdentObj.colTypes
target_type=colIdentObj.target_type

print(colTypes)
#Null handling
nullHndlngObj=nullHandling(df)

print(colTypes)
# colTypes=nullHndlngObj.remove_columns()
df_dict={}
for strategy in [None, 'mean', 'knn']:
    df_dict['null_strategy_'+str(strategy)] = nullHndlngObj.impute(strategy)

print(colTypes)
#Feature Reduction
df_all=[]
for i in df_dict.keys():
    fRdctionObj=FeatureReduction(df_dict[i])
    df_all.extend(fRdctionObj.return_dfs())


print(colTypes)
#Outlier handling
df_all_oh=[]
for i in df_all:
    OH=outlierhandling(i)
    df_all_oh.extend(OH.return_dfs())

{'Categorical': ['Province/State', 'Country/Region', 'Last Update'], 'Text': [], 'Numeric': ['Confirmed', 'Recovered', 'Latitude', 'Longitude']}
{'Categorical': ['Province/State', 'Country/Region', 'Last Update'], 'Text': [], 'Numeric': ['Confirmed', 'Recovered', 'Latitude', 'Longitude']}
{'Categorical': ['Province/State', 'Country/Region', 'Last Update'], 'Text': [], 'Numeric': ['Confirmed', 'Recovered', 'Latitude', 'Longitude']}

ValueError: list.remove(x): x not in list

In [32]:
df_all[0]

,Province/State,Country/Region,Last Update,Confirmed,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-22T09:43:06,67800,59433,30.9756,112.2707
1,-1,Italy,2020-03-22T18:13:20,59138,7024,41.8719,12.5674
2,-1,Spain,2020-03-22T23:13:18,28768,2575,40.4637,-3.7492
3,-1,Germany,2020-03-22T23:43:02,24873,266,51.1657,10.4515
4,-1,Iran,2020-03-22T14:13:06,21638,7931,32.4279,53.6880
...,...,...,...,...,...,...,...
304,-1,Jersey,2020-03-17T18:33:03,0,0,49.1900,-2.1100
305,-1,Puerto Rico,2020-03-22T22:43:02,0,0,18.2000,-66.5000
306,-1,Republic of the Congo,2020-03-17T21:33:03,0,0,-1.4400,15.5560
307,-1,The Bahamas,2020-03-19T12:13:38,0,0,24.2500,-76.0000
308,-1,The Gambia,2020-03-18T14:13:56,0,0,13.4667,-16.6000

In [24]:
# df_dict['null_strategy_None']
colTypes

{'Categorical': ['Province/State', 'Country/Region', 'Last Update'],
 'Text': [],
 'Numeric': ['Confirmed', 'Deaths', 'Recovered', 'Latitude', 'Longitude']}

In [87]:
a=[1,2,3,4]
b=[2,3,4,5]
set(a).intersection(set(b))

{2, 3, 4}

In [69]:
df['Province/State'].shape[0]

309

In [116]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-22T09:43:06,67800,59433,30.9756,112.2707
1,-1,Italy,2020-03-22T18:13:20,59138,7024,41.8719,12.5674
2,-1,Spain,2020-03-22T23:13:18,28768,2575,40.4637,-3.7492
3,-1,Germany,2020-03-22T23:43:02,24873,266,51.1657,10.4515
4,-1,Iran,2020-03-22T14:13:06,21638,7931,32.4279,53.6880

In [79]:
df['Last Update'].nunique()

115

In [31]:
df['Province/State'].dtypes=='O'

True

In [25]:
(pd.DataFrame(df['Country/Region'].value_counts(normalize=True)).reset_index()).cumsum().head(20)

                                                index Country/Region
0                                                  US       0.184466
1                                             USChina       0.291262
2                                       USChinaCanada       0.330097
3                                 USChinaCanadaFrance       0.359223
4                        USChinaCanadaFranceAustralia        0.38835
5          USChinaCanadaFranceAustraliaUnited Kingdom       0.411003
6   USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.423948
7   USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.433657
8   USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.436893
9   USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.440129
10  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.443366
11  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.446602
12  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.449838
13  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.453074
14  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.456311
15  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.459547
16  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.462783
17  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.466019
18  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.469256
19  USChinaCanadaFranceAustraliaUnited KingdomNeth...       0.472492